/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 Jul, 2016, 2:02:45 PM
    Author     : Shivam
*/
.main-group{
    border: 1px solid #23527c;
    margin: 20px;
    width:500px;
    padding: 40px;
    
}
